<% @page_title = 'Account Edit' %>
<h1>アカウントの編集</h1>
<%= render 'shared/errors', obj: @user %>
<div>
  <%= form_for(@user) do |f| %>
    <%= render 'form', f: f %>

    <%= f.submit 'アカウントを更新する' %>
  <% end %>
</div>
