<% @page_title = 'ギフト注文' %>

<h2>ギフト注文</h2>

<ul>
<% @liked.each do |item| %>
  <li><%= item %></li>
<% end %>
</ul>

<%= form_for @giftbox, class: 'form-horizontal' do |f| %>
  <div class="form-group">
    <label class="col-md-12">カテゴリ</label>
    <div class="chebox-inline col-md-12">
      <%= f.collection_check_boxes :product_ids, @products, :id, :name do |ff| %>
        <%= ff.label { ff.check_box(disabled: show?) + ff.text } %>
      <% end %>
    </div>
  </div>
<% end %>
